run = "npm run dev"
hidden = [".config", ".next"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[deployment]
build = ["npm", "run", "build"]
run = ["sh", "-c", "npx prisma migrate deploy && npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true

[objectStorage]
defaultBucketID = "replit-objstore-420e2a20-64d6-4e2b-b4a5-ddfc02cdbb05"
